$cell-dim: 40px;
$primary:  #de411b;
$primary-dark: #9b3218;

.login {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .logo {
        max-height: 120px;
        max-width: 120px;
        display: flex;
        flex-direction: column;
        
        &__logo {
            margin: 0 auto;
        }
    }
}